/* *** Variables *** */
/* Page color scheme */
/* Images */
/* Mixins */
/* Resize images */
.show-fullscreen {
  min-height: 100vh;
  width: 100%;
}

.rounded-border {
  border-radius: 50px;
}

/* *** Margins *** */
.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.mr-6 {
  margin-right: 3rem;
}

.mr-7 {
  margin-right: 3.5rem;
}

/* *** Paddings *** */
.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

/* To shake elements */
.shakeIt:hover {
  animation: shake 0.8s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 1px, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 2px, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 1px, 0);
  }
}

/**not used */
@keyframes bouncing {
  0%,
  50%,
  100% {
    /* OR from, 50%, to */
    top: 0;
  }
  25%,
  75% {
    top: 100px;
  }
}

/* List of used predefined screen sizes */
/* The Modal (background) */
.modal {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.main-modal {
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hideModal {
  z-index: -1;
  opacity: 0;
  animation: hide 0.25s;
  transform: scale(0);
}

@keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1;
  }
  to {
    z-index: -1;
    transform: scale(0);
    opacity: 0;
  }
}

.showModal {
  opacity: 1;
  z-index: 2;
  animation: show 0.2s;
  transform: scale(1);
}

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
  }
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 25%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

/* .close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} */
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* -------------------------------*/
/*        Navbar Component        */
/* ------------------------------ */
.active-link {
  color: #489cf7 !important;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  list-style-type: none;
}

.navbar-item a {
  color: white;
  text-decoration: none;
}

#navbar-photo {
  background: linear-gradient(#1a6dff, #c822ff);
  padding: 2px;
  cursor: pointer;
  max-width: 60px;
  height: auto;
}

#navbar-photo img {
  max-width: 60px;
  height: auto;
}

#navbar-photo img:hover {
  opacity: 0.8;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  background: #151515;
  z-index: 1;
}

.navbar .navbar-container:nth-child(2) {
  width: 30%;
}

.navbar .navbar-container:nth-child(2) ul {
  width: 100%;
  font-size: 1.1rem;
}

.navbar .navbar-container:nth-child(2) ul li a {
  color: #b9b9b9;
}

.navbar .navbar-container:nth-child(2) ul li a:hover {
  color: #489cf7;
}

.navbar ul:last-of-type li img {
  max-width: 34px;
  height: auto;
}

.navbar ul:last-of-type li img:hover {
  cursor: pointer;
}

.navbar #navbar-toggle-btn {
  display: none;
}

/* -------------------------------*/
/*      SideNavbar Component      */
/* ------------------------------ */
.sidenav {
  position: fixed;
  height: auto;
  width: 0;
  top: 75px;
  left: 0;
  z-index: 1;
  background-color: #151515;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 3px;
  padding-bottom: 3px;
}

.sidenav .navbar-container {
  align-items: center;
  font-size: 0.9rem;
}

.sidenav .navbar-container li a {
  color: #b9b9b9;
}

.sidenav .navbar-container li a:hover {
  color: #489cf7;
}

/* *** Responsive settings *** */
@media only screen and (max-width: 1200px) {
  .navbar .navbar-container:nth-child(2) {
    width: 35%;
  }
  .navbar .navbar-container:nth-child(2) li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .navbar-container:nth-child(2) li {
    font-size: 0.9rem;
  }
  .navbar ul:last-of-type li img {
    max-width: 28px;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .navbar .navbar-container:nth-child(2) {
    display: none;
  }
  .navbar #navbar-toggle-btn {
    display: flex !important;
  }
  #side-navbar .navbar-item {
    font-size: 0.8rem;
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  #side-navbar .navbar-item {
    font-size: 0.8rem;
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .sidenav {
    display: none;
  }
}

/* ---------------------------- */
/* ***    Burger button     *** */
/* ---------------------------- */
.burger-btn {
  display: flex;
  justify-content: center;
  background-color: #323232;
  width: 45px;
  height: 45px;
  min-width: 45px;
  cursor: pointer;
}

.burger-btn div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 19px;
}

.burger-btn div hr {
  height: 3px;
  border: none;
}

.burger-btn div hr:nth-child(1) {
  background-color: #1a6dff;
}

.burger-btn div hr:nth-child(2) {
  background-color: #9aceff;
}

.burger-btn div hr:nth-child(3) {
  background-color: #c822ff;
}

.burger-btn-active hr:nth-child(1) {
  animation-name: turnBlueHR;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.burger-btn-active hr:nth-child(2) {
  animation-name: turnLightBlueHR;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.burger-btn-active hr:nth-child(3) {
  animation-name: turnPinkHR;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes turnBlueHR {
  to {
    transform: translateY(8px) rotate(45deg);
  }
}

@keyframes turnLightBlueHR {
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes turnPinkHR {
  to {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* *** Button inactive state *** */
.burger-btn-inactive hr:nth-child(1) {
  animation-name: turnBlueHRback;
  animation-duration: 0.3s;
}

.burger-btn-inactive hr:nth-child(2) {
  animation-name: turnLightBlueHRback;
  animation-duration: 0.3s;
}

.burger-btn-inactive hr:nth-child(3) {
  animation-name: turnPinkHRback;
  animation-duration: 0.3s;
}

@keyframes turnBlueHRback {
  from {
    transform: translateY(8px) rotate(45deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes turnLightBlueHRback {
  from {
    opacity: 0;
    transform: rotate(90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes turnPinkHRback {
  from {
    transform: translateY(-8px) rotate(-45deg);
  }
  to {
    transform: translateY(0px) rotate(0deg);
  }
}

/* *** Navbar toggle button effects end *** */
/* ------------------------------------ */
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "relative";
  src: url("../assets/fonts/relative-10pitch.woff2");
}

body {
  font-family: "relative";
}

/* *** Sections *** */
/* Introduction Section */
#intro div {
  background: #323232;
  /* background: linear-gradient(rgba(0, 122, 179, 0.4), rgba(255, 255, 255, 0)),
      url($img_am_rhein) no-repeat top center/cover; */
  position: absolute;
}
