/* ****** Global elements ****** */

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0%;
}

#div-main-container {
    margin: 0% 0% 0% 11%;
}

#div-main-container h2 {
    background-color: rgb(129, 209, 255);
    padding: 2% 0% 2% 3%;
    margin: 0%;
    box-shadow: 0px 1px 3px black;
}

/* *** My avatar section settings *** */

#div-innavbar {
    width: auto;
    height: 35%;
    padding: 5% 5% 0% 7%;
    display: inline-block;
}

#img-avatar {
    width: 165px;
    height: auto;
    border-radius: 50%;
    border: 1px solid rgb(175, 175, 175);
    box-shadow: 0px 0px 20px black;
    margin: 10px 0 0 10px;
}

#side-nav p {
    font-family: 'Amethysta', serif;
    padding: 0%;
}

#p-myname {
    color: rgb(40, 126, 255);
    font-size: 130%;
    margin: 8px 0 0 25px;
}

#p-career {
    color: darkslategray;
    margin: 4px 0 0 38px;
    font-size: 100%;
    font-weight: bold;
}

/* *** Side navbar settings *** */

#side-nav {
    position: fixed;
    height: 100%;
    width: 12%;
    background-color: rgb(246, 250, 255);
    box-shadow: -7px 0px 25px black;
}

#side-nav ul {
    padding: 0% 0% 0% 0%;
    margin: 15% 0% 0% 0%;
}

#side-nav li {
    list-style-type: none;
    text-align: left;
    padding: 12px 0px 12px 22px;
}

#side-nav li:hover {
    cursor: pointer;
    box-shadow: inset 1px 0px 3px black;
    color: rgb(40, 126, 255);
}

#side-nav a {
    text-decoration: none;
    font-size: 140%;
    color: black;
}

/* *** Website pages (sections) *** */

.div-page {
    margin: 0% 10% 4% 10%;
    height: auto;
    min-height: 85vh;
}

.div-page ul hr {
    color: rgba(179, 179, 179, 0.3);
    margin: 1% 0% 0% 0%;
}

.div-page label {
    display: inline-block;
    font-size: 200%;
    margin: 4% 0% 0% 0%;
}

#ul-education li span {
    color: rgb(255, 87, 87);
}

.div-page li {
    list-style-type: square;
    padding: 1% 0% 0% 0%;
    margin: 0% 0% 0% 2%;
    font-size: 110%;
    color: rgb(27, 43, 43);
}

/* Experience section settings */

#ul-experience p {
    letter-spacing: 0.8px;
    line-height: 140%;
}

.lbl-company {
    float: right;
    color: rgb(40, 126, 255);
}

.lbl-title {
    color: darkslategray;
}

/* Contact section list */

#ul-contacts {
    margin: 6% 0% 15% 0%;
    width: 100%;
}

#ul-contacts li {
    padding: 2% 0% 2% 0%;
    list-style-type: none;
}

#ul-contacts a {
    text-decoration: none;
}

#ul-contacts li a span {
    font-size: 45%;
}

/* Contact icons settings */

#ul-contacts .fa {
    color: rgb(46, 45, 45);
    font-size: 360%;
}

#ul-contacts .fa:hover {
    color: rgb(40, 126, 255);
}