/* ****** Global elements ****** */

body {
    background-color: rgb(247, 244, 253);
    margin: 0%;
}

#div-main-container {
    margin: 0% 0% 0% 11%;
}

#div-main-container h2 {
    background-color: #84C3E8;
    padding: 2% 0% 2% 3%;
    margin: 0%;
    box-shadow: 0px 1px 3px black;
}

.div-page {
    margin: 4% 10% 4% 10%;
    height: 700px;
}

/* *** My section avatar settings *** */

#div-innavbar {
    width: auto;
    height: 35%;
    padding: 5% 5% 0% 7%;
    display: inline-block;
}

#img-avatar {
    width: 88%;
    height: 52%;
    border-radius: 50%;
    margin: 5% 0 0 7%;
}

#side-nav p {
    font-family: 'Amethysta', serif;
    padding: 0%;
}

#p-myname {
    color: #2C49E8;
    font-size: 130%;
    margin: 8px 0% 0% 6px;
}

#p-career {
    font-weight: bold;
    color: darkslategray;
    margin: 2% 0% 0% 5%;
}

/* *** Side navbar settings *** */

#side-nav {
    position: fixed;
    height: 100%;
    width: 12%;
    top: 0;
    left: 0;
    background-color: rgb(203, 187, 255);
    box-shadow: -7px 0px 25px black;
}

#side-nav ul {
    padding: 0% 0% 0% 0%;
    margin: 15% 0% 0% 0%;
}

#side-nav li {
    list-style-type: none;
    text-align: left;
    padding: 12px 0px 12px 22px;
}

#side-nav li:hover {
    /* background-color: rgb(195, 177, 255); */
    cursor: pointer;
    box-shadow: inset 1px 0px 3px black;
    /* box-shadow: 0px 0px 15px black; */
}

#side-nav a {
    text-decoration: none;
    font-size: 140%;
    color: #000000;
}