/* *** Variables *** */

/* Page color scheme */
$black: #151515;
$gray: #323232;
$gray-light: #b9b9b9;
$blue-dark: #1a6dff;
$blue-lake: #489cf7;
$blue-light: #9aceff;
$pink-dark: #c822ff;

$background-gradient: linear-gradient(#1a6dff, #c822ff);

$dark_grey: #495f62;
$ming: #181a1c;
$levender_grey: #c0cbcc;

/* Images */
$img_am_rhein: "../assets/img/am_rhein.jpg";

/* Mixins */
/* Resize images */
@mixin setImgSize($width) {
  max-width: $width;
  height: auto;
}

@mixin setSquare($width) {
  width: $width;
  height: $width;
}

@mixin bg-gradient($color1, $color2) {
  background: linear-gradient($color1, $color2);
}
