/* *** Navbar *** */

.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
  }
}

nav {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(50, 50, 50);

  #navbar-photo {
    padding: 2px;
    background: $background-gradient;
    border-radius: 50px;
    img {
      border-radius: 50px;
      @include setImgSize(60px);
    }
  }

  ul:first-of-type {
    font-size: 1.5rem;
  }

  ul:last-of-type {
    li {
      img {
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
}
