/* -------------------------------*/
/*        Navbar Component        */
/* ------------------------------ */

.active-link {
  color: $blue-lake !important;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.navbar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
  }
}

#navbar-photo {
  @include bg-gradient($blue-dark, $pink-dark);
  padding: 2px;
  cursor: pointer;
  img {
    @include setImgSize(60px);
  }
}
#navbar-toggle-btn {
  display: flex;
  justify-content: center;
  background-color: $gray;
  @include setSquare(45px);
  min-width: 45px;
  cursor: pointer;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 19px;
    hr {
      height: 3px;
      border: none;
    }
    hr:nth-child(1) {
      background-color: $blue-dark;
    }
    hr:nth-child(2) {
      background-color: $blue-light;
    }
    hr:nth-child(3) {
      background-color: $pink-dark;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  background: $black;
  z-index: 1;
  ul:first-of-type {
    font-size: 1.1rem;
    li {
      a {
        color: $gray-light;
      }
      a:hover {
        color: $blue-lake;
      }
    }
  }
  ul:last-of-type {
    li {
      img {
        @include setImgSize(34px);
      }
      img:hover {
        cursor: pointer;
      }
    }
  }
  #navbar-toggle-btn {
    display: none;
  }
}

@media only screen and (max-width: setBreakpoint(large)) {
  .navbar {
    ul:first-of-type {
      font-size: 0.9rem;
    }
    ul:last-of-type {
      li {
        img {
          @include setImgSize(28px);
        }
      }
    }
  }
}

@media only screen and (max-width: setBreakpoint(medium)) {
  .navbar {
    .navbar-container:nth-child(2) {
      display: none;
    }
  }
  #navbar-toggle-btn {
    display: flex !important;
  }
}
@media only screen and (min-width: setBreakpoint(medium)) {
  .sidenav {
    display: none;
  }
}

/* -------------------------------*/
/*      SideNavbar Component      */
/* ------------------------------ */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 75px;
  left: 0;
  background-color: $black;
  overflow-x: hidden;
  transition: 0.6s;
}

.side-navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 12px;
}

.side-navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 180px;
  list-style-type: none;
  a {
    color: white;
    text-decoration: none;
  }
}
/* 
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
} */
