* {
  padding: 0;
  margin: 0;
}

/* *** Sections *** */

/* Introduction Section */
#intro {
  div {
    background: $gray;
    /* background: linear-gradient(rgba(0, 122, 179, 0.4), rgba(255, 255, 255, 0)),
      url($img_am_rhein) no-repeat top center/cover; */
    position: absolute;
  }
}
